
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0rem 5%;
  background: #272829;
  --primary: #61677A;
  --secondary: #FFF6E0;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

